#donner {
    background: url('./img/donnerBack.jpg');
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 500px;
}
.page-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    position: relative;
    z-index: 2;
  }
.titleDon {
    display: flex;
    justify-content: right;
    align-items: center;
    min-height: 80vh;
    position: relative;
    z-index: 2;
}
.p1{margin-right: 10px;
    color: red;
    font-size: 40px;
    font-weight: 400;
    font-weight: 400;
}
.p2{
    color: white;
    font-size: 40px;
    font-weight: 600;
    font-family: cursive;
}
#paragraph{
    margin-top: 30px;
    margin-left: 40Px;
    margin-right: 40Px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;

}
#motivation{
    font-weight: 500;
    color: red;
    text-align: center;
    font-size: 26Px;
    margin-top: 10px;
}
.critere{
    color: rgb(0, 140, 255);
    font-weight: 400;
}